@import '../../assets/global';
.services{
	hr{
		margin: 0;
	}
	&__text{
		display: flex;
		align-items: center;
		gap: 100px;
		margin: 82px 0px 82px 0px;
		&-number{
			font-family: "IBM Plex Mono", monospace;
			color: #828282;
		}
	}
	&__desc{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		&__info{
			width: 560px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			span{
				font-weight: 700;
			}
			&-btn{
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}
	@include paddings()
}