@import '../../assets/global';

.wrapper{
	@include paddings()
}

.items{
	padding-top: 58px;
	display: flex;
	justify-content: space-between;
}
.line{
	display: flex;
	position: relative;
	background-color: #ACACAC;
	width: 1px;
	min-height: 100%;
	border-radius: 10px;
}
.projects{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}
.project{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 401px;
	height: 265px;
	background-color: white;
	border-radius: 10px;
	padding: 15px 15px 43px 15px;
	&__image{
		width: 100%;
		height: 158px;
		background-color: #F4F4F4;
		border-radius: 10px;
		border: 1px solid black;
		svg{
			margin-left: 8px;
			margin-top: 8px;
			cursor: pointer;
		}
	}
	&__text{
		display: flex;
		flex-direction: column;
		gap: 10px;
		&-subtitle{
			overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;
		}
	}
}