.header{
	padding-left: 240px;
	padding-right: 240px;
	padding-top: 33px;
	&__list{
		display: flex;
		gap: 20px;
	}
	background-color: white;
}	
.container{
	display: flex;
	flex-direction: column;
	gap: 120px;
	padding-left: 240px;
	padding-right: 240px;
	padding-bottom: 120px;
	padding-top: 50px;
	background-color: white;
}
.pic{
	width: 400px;
	height: 580px;
	background-color: #E8E8E8;
	flex-shrink: 0;
}
@mixin info(){
	display: flex;
	gap: 40px;
	&__text{
		display: flex;
		flex-direction: column;
		gap: 70px;
		padding-top: 162px;
		&-subtitle{
			color: #828282;
		}
	}
}
.web{
	@include info()
}
.about{
	flex-direction: row-reverse;
	&__text{
		text-align: right;
	}
	@include info()
}