@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@mixin paddings() {
	padding-left: 240px;
	padding-right: 240px;
	padding-top: 120px;
	padding-bottom: 120px;
}
@mixin font($clr: black) {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.2em;
	color: $clr;
}

body, html{
	height: 100%;
	background-color: #E8E8E8;
	p{
		@include font(#828282)
	}
	a, span{
		cursor: pointer;
		@include font()
	}
	footer li{
		list-style: inside;
		color: #878787;
	}
	h1{
		font-family: 'Open Sans', sans-serif;
		font-size: 74px;
		font-weight: 500;
		line-height: 1.15em;
	}
	h2{
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 50px;
	}
	h3{
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 700;
	}
	footer{
		a{
			@include font(#878787)
		}
		h3{
			color: white;
		}
	}
}
a{
	text-decoration: none;
	color: black;
}