@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@mixin paddings() {
	padding-left: 240px;
	padding-right: 240px;
	padding-top: 120px;
	padding-bottom: 120px;
}

body, html{
	height: 100%;
	background-color: #E8E8E8;
	p, li{
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: 1.1em;
	}
	h2{
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 50px;
	}
	h3{
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 700;
	}
}
a{
	text-decoration: none;
	color: black;
}